/* 
font-family: 'Bubbler One', sans-serif;
font-family: 'Rozha One', serif;
font-family: 'Monoton', cursive;
 */
:root {
  --pink: #ed4c67;
  --darkpink: #b53471;
  --darkblue: #1289a7;
  --lightblue: #12cbc4;
  --green: #009432;
  --yellow: #fee140;
}

body {
  font-family: "Bubbler One", sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 200px) 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "header main";
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

header {
  display: flex;
  justify-content: center;

  grid-area: header;
  background: linear-gradient(44deg, #fee140 0%, #fa709a 100%);
  text-align: center;
  color: white;
}

header:hover {
  background: linear-gradient(70deg, #fee140 0%, #fa709a 100%);
}

nav {
  position: fixed;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "title" "links" "logo";
  grid-gap: 2em;
}

.logo {
  grid-area: logo;
  width: 100%;
  justify-self: center;
  align-self: center;
}

nav ul {
  max-width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-columns: auto;
  grid-auto-flow: dense;
  justify-self: center;
}

nav li {
  justify-content: center;
  align-items: center;
}

nav a {
  display: block;
  cursor: pointer;
  padding: 0.3em 1em;
  text-transform: uppercase;
  letter-spacing: 5px;
  border: 3px var(--darkblue) solid;
  border-image: linear-gradient(45deg, var(--lightblue) 0%, var(--pink) 100%);
  border-image-slice: 1 1 1 1;
  text-decoration: none;
  border-radius: 5px;
}

nav a::before,
nav a::after {
  margin: 0.2em 0;
  border: 1px var(--lightblue) solid;
  border-image: linear-gradient(45deg, var(--lightblue) 0%, var(--pink) 100%);
  border-image-slice: 1 1 1 1;
  content: "";
  display: block;
}

nav a:hover {
  background-color: #2c3e50;
  -webkit-animation: shadow-pop-bl 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: shadow-pop-bl 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  border: 3px var(--lightblue) solid;
  border-image: linear-gradient(
    45deg,
    var(--darkpink) 0%,
    var(--darkblue) 100%
  );
  border-image-slice: 1 1 1 1;
}

nav span {
  grid-area: title;
  font-family: "Monoton", cursive;
  color: #f2f2f2;
  font-size: 3vh;
  align-self: center;
  justify-self: center;
}

.homeMain {
  grid-area: main;
  background: url("./assets/mainbg.jpeg"),
    linear-gradient(225deg, #fee140 0%, #fa709a 100%);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  height: 100%;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
  grid-gap: 10px;
  grid-template-areas:
    ". .         About     ."
    ". Overview  About     ."
    ". Selection Selection ."
    ". Selection Selection .";
}

.Overview {
  grid-area: Overview;
  justify-self: center;
  align-self: center;
  background-color: #283264;
  background-image: linear-gradient(
    33deg,
    #4158d0 0%,
    #708eff 50%,
    #20b39d 100%
  );
  background-blend-mode: overlay;
  border-radius: 1em;
  padding: 1em;
  opacity: 0.9;
}

.Overview h1,
.About h1 {
  font-size: 6vh;
  font-family: "Rozha One", serif;
}

.Overview h2 {
  width: 100%;
  margin: 0.5em 0;
  font-size: 3vh;
  color: #fa709a;
}

.About {
  grid-area: About;
  justify-self: center;
  align-self: center;
  background-color: #1abc9c;
  background-image: linear-gradient(23deg, #255c51 0%, #c9ac39 100%);
  background-blend-mode: overlay;
  border-radius: 1em;
  padding: 1em;
  opacity: 0.9;
}

.Selection {
  grid-area: Selection;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  background: url("https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"),
    linear-gradient(15deg, #21d4fd 0%, #b721ff 100%);
  background-blend-mode: hard-light;
  background-size: 101%;
  border-radius: 50%;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.badge a {
  text-decoration: none;
}

.badge a:hover {
  color: #21d4fd;
}

.badge:hover {
  background-size: 100%;
  background-blend-mode: multiply;
  -webkit-animation: shadow-pop-bl 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: shadow-pop-bl 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.badgeText {
  text-align: center;
  font-size: 2.5vh;
  font-weight: 700;
}

.badgeText:hover {
  -webkit-animation: tracking-out-expand 0.6s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tracking-out-expand 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media only screen and (max-width: 480px),
  only screen and (max-device-width: 480px) {
}

/* animations  */

@-webkit-keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: -0.5em 0.5em rgba(44, 62, 80, 0.3);
    -moz-box-shadow: -0.5em 0.5em rgba(44, 62, 80, 0.3);
    box-shadow: -0.5em 0.5em rgba(44, 62, 80, 0.3);

    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    -webkit-box-shadow: -1em 1em 0.15em rgba(44, 62, 80, 0.3);
    -moz-box-shadow: -1em 1em 0.15em rgba(44, 62, 80, 0.3);
    box-shadow: -1em 1em 0.15em rgba(44, 62, 80, 0.3);
    -webkit-transform: translateX(5px) translateY(-5px);
    transform: translateX(5px) translateY(-5px);
  }
}

@keyframes shadow-pop-bl {
  0% {
    -webkit-box-shadow: -0.5em 0.5em rgba(44, 62, 80, 0.3);
    -moz-box-shadow: -0.5em 0.5em rgba(44, 62, 80, 0.3);
    box-shadow: -0.5em 0.5em rgba(44, 62, 80, 0.3);

    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    -webkit-box-shadow: -1em 1em 0.15em rgba(44, 62, 80, 0.3);
    -moz-box-shadow: -1em 1em 0.15em rgba(44, 62, 80, 0.3);
    box-shadow: -1em 1em 0.15em rgba(44, 62, 80, 0.3);
    -webkit-transform: translateX(5px) translateY(-5px);
    transform: translateX(5px) translateY(-5px);
  }
}

@-webkit-keyframes tracking-out-expand {
  0% {
    -webkit-box-shadow: -0.5em 0.5em rgba(15, 124, 170, 0.8);
    -moz-box-shadow: -0.5em 0.5em rgba(15, 124, 170, 0.8);
    box-shadow: -0.5em 0.5em rgba(15, 124, 170, 0.8);

    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    -webkit-box-shadow: -1em 1em 0.15em rgba(15, 124, 170, 0.8);
    -moz-box-shadow: -1em 1em 0.15em rgba(15, 124, 170, 0.8);
    box-shadow: -1em 1em 0.15em rgba(15, 124, 170, 0.8);
    -webkit-transform: translateX(5px) translateY(-5px);
    transform: translateX(5px) translateY(-5px);
    letter-spacing: 0.5em;
  }
}

@keyframes tracking-out-expand {
  0% {
    -webkit-box-shadow: -0.5em 0.5em rgba(15, 124, 170, 0.8);
    -moz-box-shadow: -0.5em 0.5em rgba(15, 124, 170, 0.8);
    box-shadow: -0.5em 0.5em rgba(15, 124, 170, 0.8);

    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  100% {
    -webkit-box-shadow: -1em 1em 0.15em rgba(15, 124, 170, 0.8);
    -moz-box-shadow: -1em 1em 0.15em rgba(15, 124, 170, 0.8);
    box-shadow: -1em 1em 0.15em rgba(15, 124, 170, 0.8);
    -webkit-transform: translateX(5px) translateY(-5px);
    transform: translateX(5px) translateY(-5px);
    letter-spacing: 0.5em;
  }
}
